<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>404: File not found</title>
    <link href="/~dev-server/dev-server.css" rel="stylesheet">
    <link rel="shortcut icon" href="/~dev-server/favicon.ico" type="image/x-icon">
  </head>
  <body class="directory">
    <div id="wrapper">
      {{content}}
    </div>
  </body>
</html>
