
<script>
  if (!window.location.origin) {
    // polyfill for IE11, credit: https://tosbourn.com/a-fix-for-window-location-origin-in-internet-explorer/
    window.location.origin = window.location.protocol + '//' + window.location.hostname + (window.location.port ? (':' + window.location.port) : '');
  }

  var iframeEl = document.createElement('iframe')
  iframeEl.style.width = 0
  iframeEl.style.height = 0
  iframeEl.style.border = 0
  iframeEl.src = window.location.origin + '{{DEV_SERVER_URL}}'
  document.currentScript.parentNode.insertBefore(iframeEl, document.currentScript)
  document.currentScript.remove()
</script>