<!DOCTYPE html>
<html dir="ltr" lang="en">
<head data-tmpl="tmpl-initial-load">
  <meta charset="utf-8">
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.getRegistration().then(function(registration) {
        if (registration) {
          registration.unregister().then(function(hasUnregistered) {
            if (hasUnregistered) {
              console.log('unregistered service worker');
            }
          });
        }
      });
    }
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="IE=Edge">
  <title>Initializing First Build...</title>
  <link href="/~dev-server/initial-load.css" rel="stylesheet">
</head>
<body>

  <div class="toast">
    <div class="content">
      <div class="message">Initializing First Build...</div>
      <div class="spinner">
        <svg viewBox="0 0 64 64"><circle transform="translate(32,32)" r="26"></circle></svg>
      </div>
    </div>
  </div>

  <script>
    setTimeout(function() {
      document.querySelector('.toast').classList.add('active');
    }, 100);
  </script>

</body>
</html>