*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.sass-cache/
.versions/
node_modules/

**/dist/
**/www/build/

# local npm link dev files
/compiler.js
/server.js
/testing.js