*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.history/
.sass-cache/
.versions/
node_modules/
coverage/

/build/
/scripts/build/
dist/
dist-ts/
**/www/build/

# submodule packages
/cli
/compiler
/hydrate
/dev-server
/internal
/mock-doc
/polyfills
/server
/sys
/testing
/build-conditionals
/runtime

/screenshot/index.js
/screenshot/package.json
/screenshot/connector.js
/screenshot/local-connector.js
/screenshot/pixel-match.js
/screenshot/*.d.ts

test/**/www/*
test/**/hydrate/*
.stencil
