# By default, Node allocates 2 GB for a process to run.
# When building Stencil, it may reach that point before the garbage collector is invoked, causing an out-of-memory
# related failure.
# If this value is changed, please ensure that it works both locally and in a continuous integration environment in
# a repeatable manner (i.e. it can run many times, one after the other, without failing due to out-of-memory errors).
node_options=--max-old-space-size=4096
