package-lock=false
registry = https://extranet.aoe.com/artifactory/api/npm/congstar-npm/
_auth = amVua2lucy5idWlsZDpBUDZYWVY4OWZhU1MyN2MxaGJMU1hObXFCcHA=
always-auth = true
email = jenkins@systemname.org
