@import "../../themes/ionic.globals";

// Button Icons
// --------------------------------------------------

[icon-start] ion-icon {
  @include button-icon();

  padding-right: .3em;
}

[icon-end] ion-icon {
  @include button-icon();

  padding-left: .4em;
}

[icon-only] .button {
  padding: 0;

  min-width: .9em;
}

[icon-only] ion-icon {
  padding: 0 .5em;

  font-size: 1.8em;
  line-height: .67;

  pointer-events: none;
}
