@import "../../themes/ionic.globals.md";
@import "./toolbar-button";


// Material Design Toolbar Button
// --------------------------------------------------

/// @prop - Border radius of the toolbar button
$toolbar-md-button-border-radius:               2px !default;

/// @prop - Font size of the toolbar button
$toolbar-md-button-font-size:                   1.4rem !default;

/// @prop - Text color of the toolbar button
$toolbar-md-button-color:                       color-contrast($colors-md, $toolbar-md-background, md) !default;

/// @prop - Font weight of a strong toolbar button
$toolbar-md-button-strong-font-weight:          bold !default;


// Material Design Toolbar Button Default
// --------------------------------------------------

:host-context(.bar-buttons) {
  margin-top: 0;
  margin-right: .2rem;
  margin-bottom: 0;
  margin-left: .2rem;
  padding: 0 5px;

  height: 32px;

  border: 0;
  border-radius: $toolbar-md-button-border-radius;
  font-size: $toolbar-md-button-font-size;
  font-weight: 500;
  text-transform: uppercase;

  color: $toolbar-md-button-color;
  background-color: transparent;

  box-shadow: none;
}

:host([solid]):host-context(.bar-buttons) {
  color: color-contrast($colors-md, $toolbar-md-button-color, md);
  background-color: $toolbar-md-button-color;
}

:host([solid]):host-context(.bar-buttons),
:host([outline]):host-context(.bar-buttons) {
  // restrict the ripple to button size
  overflow: hidden;
}


@mixin md-bar-button-default($color-name, $color-base, $color-contrast) {

  :host([color=#{$color-name}]):host-context(.bar-buttons),
  :host([color=#{$color-name}][clear]):host-context(.bar-buttons) {
    color: $color-base;
    background-color: transparent;

    &:hover:not(.disable-hover) {
      color: $color-base;
    }
  }

}


// Material Design Toolbar Button Outline
// --------------------------------------------------

:host([outline]):host-context(.bar-buttons) {
  border-width: 1px;
  border-style: solid;
  border-color: $toolbar-md-button-color;
  color: $toolbar-md-button-color;
  background-color: transparent;

  &:hover:not(.disable-hover) {
    opacity: .4;
  }

  &.activated {
    background-color: transparent;
  }

  .button-effect {
    background-color: $toolbar-md-button-color;
  }
}

@mixin md-bar-button-outline($color-name, $color-base, $color-contrast) {

  :host([outline][color=#{$color-name}]):host-context(.bar-buttons) {
    $fg-color: color-shade($color-base);
    border-color: $fg-color;
    color: $fg-color;
    background-color: transparent;

    &.activated {
      background-color: transparent;
    }

    .button-effect {
      background-color: $fg-color;
    }
  }

}


// Material Design Toolbar Button Solid
// --------------------------------------------------

:host([solid]):host-context(.bar-buttons)  {
  color: color-contrast($colors-md, $toolbar-md-button-color, md);
  background-color: $toolbar-md-button-color;

  &:hover:not(.disable-hover) {
    color: color-contrast($colors-md, $toolbar-md-button-color, md);
  }

  &.activated {
    color: color-contrast($colors-md, $toolbar-md-button-color, md);
    background-color: color-shade($toolbar-md-button-color);
  }
}

@mixin md-bar-button-solid($color-name, $color-base, $color-contrast) {

  :host([solid][color=#{$color-name}]):host-context(.bar-buttons) {
    color: $color-contrast;
    background-color: $color-base;

    &.activated {
      color: $color-contrast;
      background-color: color-shade($color-base);
    }
  }

}


// Material Design Strong Button
// --------------------------------------------------

:host([strong]):host-context(.bar-buttons) {
  font-weight: $toolbar-md-button-strong-font-weight;
}


// Material Design Toolbar Button Icon
// --------------------------------------------------

:host(.bar-button-icon-left):host-context(.bar-buttons) ion-icon {
  padding-right: .3em;

  font-size: 1.4em;
  line-height: .67;

  pointer-events: none;
}

:host(.bar-button-icon-right):host-context(.bar-buttons) ion-icon {
  padding-left: .4em;

  font-size: 1.4em;
  line-height: .67;

  pointer-events: none;
}

:host([icon-only]):host-context(.bar-buttons) {
  padding: 0;
}

:host([icon-only]):host-context(.bar-buttons) ion-icon {
  padding: 0 .1em;

  min-width: 28px;

  font-size: 1.8em;
  line-height: .67;

  pointer-events: none;
}


// Material Design Toolbar Back Button
// --------------------------------------------------

.back-button-md {
  margin: 0 6px;

  min-width: 44px;

  box-shadow: none;
}

.back-button-icon-md {
  margin: 0;
  padding: 0 6px;

  font-size: 2.4rem;
  font-weight: normal;
  text-align: left;
}


// Material Design Toolbar Menu Toggle
// --------------------------------------------------

.bar-button-menutoggle-md {
  order: map-get($toolbar-order-md, menu-toggle-start);

  margin: 0 6px;
  padding: 0 2px;

  min-width: 44px;
}

.bar-button-menutoggle-md ion-icon {
  padding: 0 6px;

  font-size: 2.4rem;
}

.bar-button-menutoggle-md[end],
.bar-button-menutoggle-md[right] {
  order: map-get($toolbar-order-md, menu-toggle-end);

  margin: 0 2px;

  min-width: 28px;
}


// Material Design Toolbar Color Generation
// --------------------------------------------------

// @include md-bar-button-default(default, $toolbar-md-button-color, color-contrast($colors-md, $toolbar-md-button-color, md));
// @include md-bar-button-default(clear, $toolbar-md-button-color, color-contrast($colors-md, $toolbar-md-button-color, md));

@each $color-name, $color-base, $color-contrast in get-colors($colors-md) {
  @include md-bar-button-default($color-name, $color-base, $color-contrast);
  @include md-bar-button-outline($color-name, $color-base, $color-contrast);
  @include md-bar-button-solid($color-name, $color-base, $color-contrast);
}
