@import "../../themes/ionic.globals.wp";


// Windows Item Thumbnail
// --------------------------------------------------

/// @prop - Size of the thumbnail in the item
$item-wp-thumbnail-size:             80px !default;


:host {
  min-width: $item-wp-thumbnail-size;
  min-height: $item-wp-thumbnail-size;
}

ion-img,
img {
  width: $item-wp-thumbnail-size;
  height: $item-wp-thumbnail-size;
}

:host([slot="item-left"]) {
  margin: ($item-wp-padding-right / 2) $item-wp-padding-right ($item-wp-padding-right / 2) 0;
}

:host([slot="item-right"]) {
  margin: ($item-wp-padding-right / 2);
}
