
:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr;
  grid-template-areas:
    "header header"
    "input-panel output-panel";
  grid-gap: 10px;
  width: 100%;
  height: 100%;
}
