
<footer class="footer" [show]="store.hasTodoItems">
  <span class="todo-count">
    <strong [text]="store.renamingTodos"></strong> {{pluralize('item', store.renamingTodos)}} left
  </span>
  <ul class="filters">
    <li><a href="#" @click="store.showItems('all')" [class]="{selected: store.itemShow == 'all'}">All</a></li>
    <li><a href="#" @click="store.showItems('active')" [class]="{selected: store.itemShow == 'active'}">Active</a></li>
    <li><a href="#" @click="store.showItems('completed')" [class]="{selected: store.itemShow == 'completed'}">Completed</a></li>
  </ul>
  <button class="clear-completed" @click="store.removeCompleted()" *if="showClearCompleted">
    Clear completed
  </button>
</footer>
