@import "../../themes/ionic.globals.wp";
@import "./list";


// Windows Default List
// --------------------------------------------------

:host {
  margin: 0 $list-wp-margin-right $list-wp-margin-bottom $list-wp-margin-left;
}

.item-block .item-inner {
  border-bottom: 1px solid $list-wp-border-color;
}

.item-block:first-child,
.item-wrapper:first-child .item-block {
  border-top: 1px solid $list-wp-border-color;
}

.item-block:last-child,
.item-wrapper:last-child .item-block {
  border-bottom: 1px solid $list-wp-border-color;
}

.item-block:last-child,
.item-wrapper:last-child {
  ion-label,
  .item-inner {
    border-bottom: 0;
  }
}

ion-input:last-child::after {
  left: 0;
}

ion-item-options .button {
  display: inline-flex;

  align-items: center;

  margin: 1px 0;

  height: calc(100% - 2px);

  border: 0;
  border-radius: 0;
  box-shadow: none;

  box-sizing: border-box;
}

ion-item-options .button::before {
  margin: 0 auto;
}

// If the item has the no-lines attribute remove the bottom border from:
// the item itself (for last-child items)
// the item-inner class (if it is not last)
.item[no-lines],
.item[no-lines] .item-inner {
  border-width: 0;
}

.list-wp + ion-list ion-list-header {
  margin-top: -$list-wp-margin-top;
  padding-top: 0;
}


// Windows Insert List
// --------------------------------------------------

:host([inset]) {
  margin: $list-inset-wp-margin-top $list-inset-wp-margin-right $list-inset-wp-margin-bottom $list-inset-wp-margin-left;

  border-radius: $list-inset-wp-border-radius;
}

:host([inset]) .item:first-child {
  border-top-width: 0;
  border-top-left-radius: $list-inset-wp-border-radius;
  border-top-right-radius: $list-inset-wp-border-radius;
}

:host([inset]) .item:last-child {
  border-bottom-width: 0;
  border-bottom-left-radius: $list-inset-wp-border-radius;
  border-bottom-right-radius: $list-inset-wp-border-radius;
}

:host([inset]) .item-input {
  padding-right: 0;
  padding-left: 0;
}

:host([inset]) + ion-list[inset] {
  margin-top: 0;
}

:host([inset]) ion-list-header {
  background-color: $list-wp-background-color;
}


// Windows No Lines List
// --------------------------------------------------

:host([inset]) .item,
:host([inset]) .item .item-inner {
  border-width: 0;
}


// Windows Item Sliding
// --------------------------------------------------

ion-item-sliding {
  background-color: $item-wp-sliding-content-background;
}
