@import "../../themes/ionic.globals.ios";
@import "./list";


// iOS List
// --------------------------------------------------

/// @prop - Margin top of the list
$list-ios-margin-top:                 10px !default;

/// @prop - Margin right of the list
$list-ios-margin-right:               0 !default;

/// @prop - Margin bottom of the list
$list-ios-margin-bottom:              32px !default;

/// @prop - Margin left of the list
$list-ios-margin-left:                0 !default;

/// @prop - Margin top of the inset list
$list-inset-ios-margin-top:           16px !default;

/// @prop - Margin right of the inset list
$list-inset-ios-margin-right:         16px !default;

/// @prop - Margin bottom of the inset list
$list-inset-ios-margin-bottom:        16px !default;

/// @prop - Margin left of the inset list
$list-inset-ios-margin-left:          16px !default;

/// @prop - Border radius of the inset list
$list-inset-ios-border-radius:        4px !default;

/// @prop - Background for the sliding content
$item-ios-sliding-content-background:     $list-ios-background-color !default;


// iOS Default List
// --------------------------------------------------

:host {
  margin: -1px $list-ios-margin-right $list-ios-margin-bottom $list-ios-margin-left;
}

.item-block:first-child {
  border-top: $hairlines-width solid $list-ios-border-color;
}

.item-block:last-child,
.item-wrapper:last-child .item-block {
  border-bottom: $hairlines-width solid $list-ios-border-color;
}

.item-block:last-child .item-inner,
.item-wrapper:last-child .item-block .item-inner {
  border-bottom: 0;
}

.item-block .item-inner {
  border-bottom: $hairlines-width solid $list-ios-border-color;
}

// If the item has the no-lines attribute remove the bottom border from:
// the item itself (for last-child items)
// the item-inner class (if it is not last)
.item[no-lines],
.item[no-lines] .item-inner, {
  border-width: 0;
}

ion-item-options {
  border-bottom: $hairlines-width solid $list-ios-border-color;
}

ion-item-options .button {
  display: inline-flex;

  align-items: center;

  margin: 0;

  height: 100%;
  min-height: 100%;

  border: 0;
  border-radius: 0;

  box-sizing: border-box;
}

ion-item-options .button::before {
  margin: 0 auto;
}

.list-ios:not([inset]) + .list-ios:not([inset]) ion-list-header {
  margin-top: -$list-ios-margin-top;
  padding-top: 0;
}


// iOS Inset List
// --------------------------------------------------

:host([inset]) {
  margin: $list-inset-ios-margin-top $list-inset-ios-margin-right $list-inset-ios-margin-bottom $list-inset-ios-margin-left;

  border-radius: $list-inset-ios-border-radius;
}

:host([inset]) ion-list-header {
  background-color: $list-ios-background-color;
}

:host([inset]) .item {
  border-bottom: 1px solid $list-ios-border-color;
}

:host([inset]) .item-inner {
  border-bottom: 0;
}

:host([inset]) > .item:first-child,
:host([inset]) > .item-wrapper:first-child .item {
  border-top: 0;
}

:host([inset]) > .item:last-child,
:host([inset]) > .item-wrapper:last-child .item {
  border-bottom: 0;
}

:host([inset]) + ion-list[inset] {
  margin-top: 0;
}


// iOS No Lines List
// --------------------------------------------------

:host([no-lines]) ion-list-header,
:host([no-lines]) ion-item-options,
:host([no-lines]) .item,
:host([no-lines]) .item .item-inner {
  border-width: 0;
}


// iOS Item Sliding
// --------------------------------------------------

ion-item-sliding {
  background-color: $item-ios-sliding-content-background;
}
