@import "../../themes/ionic.globals";


// List
// --------------------------------------------------


ion-list {
  display: block;

  contain: content;
}

ion-list.upgraded {
  visibility: inherit;
}
