@import "../../themes/ionic.globals";


// List
// --------------------------------------------------

:host {
  display: block;

  visibility: inherit !important;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

:host-context([inset]) {
  overflow: hidden;

  transform: translateZ(0);
}
