
:host {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: white;
}

:host(.selected) {
  display: block;
}

textarea {
  box-sizing: border-box;
  font-family: var(--stencil-font-code);
  font-size: 12px;
  margin: 0;
  padding: 10px;
  border: 0;
  outline: none;
  width: 100%;
  height: 100%;
  resize: none;
  white-space: nowrap;
}
