@import "../../themes/ionic.globals";

// Item
// --------------------------------------------------
// Core structure only, dimensions belong in specific modes
//
// ".item" includes elements:
//   ion-item
//   [ion-item]
//   ion-item-divider
//   ion-list-header
//
// ".item-block" includes elements:
//   ion-item
//   [ion-item]

:host {
  display: flex;
  overflow: hidden;

  visibility: inherit !important;

  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 4.4rem;

  border: 0;

  font-weight: normal;
  line-height: normal;
  text-align: initial;
  text-decoration: none;
  color: inherit;

  contain: content;
}

.item-inner {
  display: flex;
  overflow: hidden;

  flex: 1;
  flex-direction: inherit;
  align-items: inherit;
  align-self: stretch;

  margin: 0;
  padding: 0;

  min-height: inherit;

  border: 0;
}

.input-wrapper {
  display: flex;
  overflow: hidden;

  flex: 1;
  flex-direction: inherit;
  align-items: inherit;
  align-self: stretch;

  text-overflow: ellipsis;
}

:host([no-lines]),
:host([no-lines]) .item-inner {
  border: 0;
}

[vertical-align-top],
ion-input.item {
  align-items: flex-start;
}
