<!DOCTYPE html>
<meta charset="utf8">
<script src="./build/testapp.esm.js" type="module"></script>
<script src="./build/testapp.js" nomodule></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

<script>
  angular
  .module('demo', [])
  .controller('homeCtrl', homeCtrl);
  function homeCtrl() {
    var vm = this;
    vm.visible = true;
    vm.toggle = () => vm.visible = !vm.visible;
  }
</script>
<body ng-app="demo" ng-controller="homeCtrl as ctrl">
  <button ng-click="ctrl.toggle()">Toggle</button>
  <div id="parent" ng-if="ctrl.visible">
    <dom-reattach-hydrated>
      <p>Slot content 1</p>
    </dom-reattach-hydrated>
  </div>
</body>
