@import "../../themes/ionic.globals";

// Toolbar
// --------------------------------------------------

:host {
  visibility: inherit !important;
}

// ion-title {
//   display: flex;

//   flex: 1;
//   align-items: center;

//   transform: translateZ(0);
// }

// .toolbar-title {
//   display: block;
//   overflow: hidden;

//   width: 100%;

//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

ion-buttons {
  display: block;

  margin: 0 .2rem;

  transform: translateZ(0);

  pointer-events: none;
}

ion-buttons button,
ion-buttons a,
ion-buttons input,
ion-buttons textarea,
ion-buttons div {
  pointer-events: auto;
}


// Transparent Toolbar
// --------------------------------------------------

.toolbar[transparent] .toolbar-background {
  border-color: transparent;
  background: transparent;
}


// TODO this is a temp hack to fix segment overlapping ion-nav-item
ion-buttons,
.bar-button-menutoggle {
  z-index: 99;

  transform: translateZ(0);
}


// Navbar
// --------------------------------------------------

ion-navbar.toolbar {
  display: flex;

  transform: translateZ(0);
}
