@import "../../themes/ionic.globals.md";
@import "./toolbar";


// Material Design Toolbar
// --------------------------------------------------

/// @prop - Font size of the toolbar title
$toolbar-md-title-font-size:             2rem !default;

/// @prop - Height of the navigation bar
$navbar-md-height:                       $toolbar-md-height !default;



// Material Design Toolbar Background
// --------------------------------------------------

.toolbar-background-md {
  border-color: $toolbar-md-border-color;
  background: $toolbar-md-background;
}


// Material Design Header / Footer / Tabs Box Shadow
// --------------------------------------------------

.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  // using datauri png background image for improved scroll performance
  // rather than using `box-shadow: 0 2px 5px rgba(0,0,0,0.26);`
  // noticable performance difference on older Android devices
  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;
  height: 5px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
  background-position: 0 -2px;

  content: "";
}

.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  top: -2px;
  bottom: auto;

  height: 2px;

  background-position: 0 0;
}

.header-md[no-border]::after,
.footer-md[no-border]::before,
.tabs-md[tabsPlacement="top"][no-border] > .tabbar::after,
.tabs-md[tabsPlacement="bottom"][no-border] > .tabbar::before {
  display: none;
}

// Material Design Toolbar Content
// --------------------------------------------------

.toolbar-content-md {
  flex: 1;
  order: map-get($toolbar-order-md, content);

  min-width: 0;
  max-width: 100%;
}

@mixin md-toolbar-theme($color-name, $color-base, $color-contrast) {
  .toolbar-md-#{$color-name} {
    $fg-color: color-contrast($colors-md, $color-base, md);

    .toolbar-background-md {
      background: $color-base;
    }

    .bar-button-clear-md,
    .bar-button-default-md,
    .bar-button-outline-md,
    .toolbar-title-md {
      color: $fg-color;
    }

    .bar-button-clear-md,
    .bar-button-default-md,
    .bar-button-outline-md {
      .button-effect {
        background-color: $fg-color;
      }
    }

    .bar-button-outline-md {
      border-color: $fg-color;
    }

    @each $color-name, $color-base, $color-contrast in get-colors($colors-md) {
      @include md-bar-button-default($color-name, $color-base, $color-contrast);
      @include md-bar-button-outline($color-name, $color-base, $color-contrast);
      @include md-bar-button-solid($color-name, $color-base, $color-contrast);
    }
  }
}
