@import "../../themes/ionic.globals.md";


// Material Design App - Light DOM
// --------------------------------------------------

.app-md {
  font-family: $font-family-md-base;
  font-size: $font-size-md-base;
  background-color: $background-md-color;
}
