
:host {
  grid-area: input-panel;

  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "input-selector"
    "input-main";
    grid-gap: 10px;
}

section {
  grid-area: input-main;
}
