@import "../../themes/ionic.globals.wp";
@import "./content";


// Windows Content
// --------------------------------------------------

:host {
  color: $text-wp-color;
  background-color: $background-wp-color;
}

hr {
  background-color: rgba(0, 0, 0, .08);
}


// Windows Content Padding
// --------------------------------------------------

:host([padding]) .scroll-content {
  padding: $content-wp-padding;
}

:host([padding-top]) .scroll-content {
  padding-top: $content-wp-padding;
}

:host([padding-left]) .scroll-content {
  padding-left: $content-wp-padding;
}

:host([padding-right]) .scroll-content {
  padding-right: $content-wp-padding;
}

:host([padding-bottom]) .scroll-content {
  padding-bottom: $content-wp-padding;
}

:host([padding-vertical]) .scroll-content {
  padding-top: $content-wp-padding;
  padding-bottom: $content-wp-padding;
}

:host([padding-horizontal]) .scroll-content {
  padding-right: $content-wp-padding;
  padding-left: $content-wp-padding;
}


// Windows Content Margin
// --------------------------------------------------

:host([margin]) .scroll-content {
  margin: $content-wp-margin;
}

:host([margin-top]) .scroll-content {
  margin-top: $content-wp-margin;
}

:host([margin-left]) .scroll-content {
  margin-left: $content-wp-margin;
}

:host([margin-right]) .scroll-content {
  margin-right: $content-wp-margin;
}

:host([margin-bottom]) .scroll-content {
  margin-bottom: $content-wp-margin;
}

:host([margin-vertical]) .scroll-content {
  margin-top: $content-wp-margin;
  margin-bottom: $content-wp-margin;
}

:host([margin-horizontal]) .scroll-content {
  margin-right: $content-wp-margin;
  margin-left: $content-wp-margin;
}
