@import "../../themes/ionic.globals";

// Content
// --------------------------------------------------

ion-content {
  position: relative;
  top: 0;
  left: 0;
  display: block;

  width: 100%;
  height: 100%;

  contain: layout size style;
}

ion-content.content-ready {
  visibility: inherit;
}

.ion-page > ion-content {
  position: absolute;
}

a {
  color: $link-color;
}


// Scrollable Content
// --------------------------------------------------

ion-scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-scroll-content;
  display: block;

  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;

  contain: size style layout;
}

ion-scroll.hydrated {
  visibility: inherit;
}

ion-content.js-scroll ion-scroll {
  position: relative;

  min-height: 100%;

  overflow-x: initial;
  overflow-y: initial;
  -webkit-overflow-scrolling: auto;
  will-change: initial;
}

.disable-scroll .ion-page {
  pointer-events: none;
  touch-action: none;
}


// Fixed Content (ion-fixed and ion-fab)
// --------------------------------------------------

.fixed-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

[ion-fixed] {
  position: absolute;

  z-index: $z-index-fixed-content;

  transform: translateZ(0);
}


// Content Padding
// --------------------------------------------------

ion-app [no-padding],
ion-app [no-padding] ion-scroll {
  padding: 0;
}

@mixin content-padding($mode, $content-padding) {
  ion-app.#{$mode} [padding],
  ion-app.#{$mode} [padding] ion-scroll {
    padding: $content-padding;
  }

  ion-app.#{$mode} [padding-top],
  ion-app.#{$mode} [padding-top] ion-scroll {
    padding-top: $content-padding;
  }

  ion-app.#{$mode} [padding-left],
  ion-app.#{$mode} [padding-left] ion-scroll {
    padding-left: $content-padding;
  }

  ion-app.#{$mode} [padding-right],
  ion-app.#{$mode} [padding-right] ion-scroll {
    padding-right: $content-padding;
  }

  ion-app.#{$mode} [padding-bottom],
  ion-app.#{$mode} [padding-bottom] ion-scroll {
    padding-bottom: $content-padding;
  }

  ion-app.#{$mode} [padding-vertical],
  ion-app.#{$mode} [padding-vertical] ion-scroll {
    padding-top: $content-padding;
    padding-bottom: $content-padding;
  }

  ion-app.#{$mode} [padding-horizontal],
  ion-app.#{$mode} [padding-horizontal] ion-scroll {
    padding-right: $content-padding;
    padding-left: $content-padding;
  }
}


// Content Margin
// --------------------------------------------------

ion-app [no-margin],
ion-app [no-margin] ion-scroll {
  margin: 0;
}

@mixin content-margin($mode, $content-margin) {
  ion-app.#{$mode} [margin],
  ion-app.#{$mode} [margin] ion-scroll {
    margin: $content-margin;
  }

  ion-app.#{$mode} [margin-top],
  ion-app.#{$mode} [margin-top] ion-scroll {
    margin-top: $content-margin;
  }

  ion-app.#{$mode} [margin-left],
  ion-app.#{$mode} [margin-left] ion-scroll {
    margin-left: $content-margin;
  }

  ion-app.#{$mode} [margin-right],
  ion-app.#{$mode} [margin-right] ion-scroll {
    margin-right: $content-margin;
  }

  ion-app.#{$mode} [margin-bottom],
  ion-app.#{$mode} [margin-bottom] ion-scroll {
    margin-bottom: $content-margin;
  }

  ion-app.#{$mode} [margin-vertical],
  ion-app.#{$mode} [margin-vertical] ion-scroll {
    margin-top: $content-margin;
    margin-bottom: $content-margin;
  }

  ion-app.#{$mode} [margin-horizontal],
  ion-app.#{$mode} [margin-horizontal] ion-scroll {
    margin-right: $content-margin;
    margin-left: $content-margin;
  }
}
