* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f7f7f7;
}

app-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 5px;
}

section {
  flex: 1;
  padding: 5px;
}

section header {
  font-size: 10px;
  padding: 2px 0 3px 5px;
  background: #ccc;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

section header a {
  float: right;
  margin-right: 8px;
}

textarea {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  resize: none;
  border: 0;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 0;
}

.source textarea {
  height: calc(100% - 315px);
}

.build textarea {
  height: calc(100% - 80px);
}

.preview textarea {
  height: calc(100% - 280px);
}

.options {
  margin: 10px 0;
}

label {
  display: block;
  margin: 3px 0;
}
label[hidden],
span[hidden] {
  display: none;
}

label span {
  display: inline-block;
  font-size: 12px;
  width: 115px;
}

.file-size {
  padding: 0 0 0 15px;
}

iframe {
  display: block;
  width: 100%;
  height: 230px;
  border: 0;
  background: white;
}
