@import "../../themes/ionic.globals";

// Card
// --------------------------------------------------


:host {
  display: block;
  overflow: hidden;

  visibility: inherit !important;
}

img {
  display: block;

  width: 100%;
}

ion-card-header {
  display: block;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

ion-card-content {
  display: block;
}
