@import "../../themes/ionic.globals.ios";


// Windows Item - Light DOM
// --------------------------------------------------

.item-wp [slot="item-left"],
.item-wp [slot="item-right"] {
  margin: $item-wp-padding-media-top ($item-wp-padding-right / 2) $item-wp-padding-media-bottom 0;
}

.item-wp ion-icon[slot="item-left"],
.item-wp ion-icon[slot="item-right"] {
  margin-top: $item-wp-padding-icon-top;
  margin-bottom: $item-wp-padding-icon-bottom;
  margin-left: 0;
}
