
<section class="main" [show]="store.hasTodoItems">
  <input class="toggle-all" type="checkbox" [model]="allDone">
  <ul class="todo-list">
    <li class="todo" *for="todo in store.filteredTodos" :key="todo.id" [class]="{completed: todo.completed, editing: todo == store.editedTodo}">
      <div class="view">
        <input class="toggle" type="checkbox" [model]="todo.completed">
        <label @dblclick="store.editTodo(todo)">{{todo.title}}</label>
        <button class="destroy" @click="store.remove(todo)"></button>
      </div>
      <todo-edit :store="store" :todo="todo"></todo-edit>
    </li>
  </ul>
</section>
