<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Ionic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <link href="/dist/themes/ionic.css" rel="stylesheet">
</head>
<body>

  <ion-app>

<!-- main start -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Item Reorder</ion-title>
    <ion-buttons end>
      <ion-button (click)="toggle()">
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list [reorder]="isReordering" (ionItemReorder)="reorder($event)">
    <ion-item *ngFor="let item of items" (click)="clickedButton(item)"
    [style.background]="'rgb('+(255-item*4)+','+(255-item*4)+','+(255-item*4)+')'"
    [style.min-height]="item*2+35+'px'">
      {{item}}
    </ion-item>
  </ion-list>

  <ion-list [reorder]="isReordering" (ionItemReorder)="$event.applyTo(items)">
    <ion-item-sliding *ngFor="let item of items">
      <ion-item (click)="clickedButton(item)">
        <h2>Sliding item {{item}}</h2>
      </ion-item>
      <ion-item-options side="right" icon-left>
        <ion-button color='danger'>
          <ion-icon name="trash"></ion-icon>
          Remove
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>


<!-- main end -->

  </ion-app>

  <script src="/dist/ionic-web/dist/ionic.js" data-static-dir="/dist/ionic-web/dist/"></script>

</body>
</html>