@import "../../themes/ionic.globals.ios";
@import "./item-divider";

// iOS Item Divider
// --------------------------------------------------

/// @prop - Background for the divider
$item-ios-divider-background:             #f7f7f7 !default;

/// @prop - Color for the divider
$item-ios-divider-color:                  #222 !default;

/// @prop - Padding for the divider
$item-ios-divider-padding:                5px 15px !default;


// iOS Item Divider
// --------------------------------------------------

.item-divider-ios {
  padding-left: $item-ios-padding-left;

  color: $item-ios-divider-color;
  background-color: $item-ios-divider-background;
}


// Generate iOS Item Divider Colors
// --------------------------------------------------

@each $color-name, $color-base, $color-contrast in get-colors($colors-ios) {
  .item-divider-ios-#{$color-name} {
    color: $color-contrast;
    background-color: $color-base;

    p {
      color: $color-contrast;
    }

    &.activated {
     background-color: color-shade($color-base);
    }
  }
}
