@import "../../themes/ionic.globals.md";
@import "./item-divider";


// Material Design Item Divider
// --------------------------------------------------

/// @prop - Color for the divider
$item-divider-md-color:              #858585 !default;

/// @prop - Background for the divider
$item-divider-md-background:         #fff !default;

/// @prop - Font size for the divider
$item-divider-md-font-size:          1.4rem !default;

/// @prop - Border bottom for the divider
$item-divider-md-border-bottom:      1px solid $list-md-border-color !default;

/// @prop - Padding for the divider
$item-divider-md-padding:            5px 15px !default;


:host {
  padding-left: $item-md-padding-left;

  color: $item-divider-md-color;
  background-color: $item-divider-md-background;

  border-bottom: $item-divider-md-border-bottom;
  font-size: $item-divider-md-font-size;
}
