@import "../../themes/ionic.globals.ios";
@import "./item-divider";


// iOS Item Divider
// --------------------------------------------------

/// @prop - Background for the divider
$item-divider-ios-background:             #f7f7f7 !default;

/// @prop - Color for the divider
$item-divider-ios-color:                  #222 !default;

/// @prop - Padding for the divider
$item-divider-ios-padding:                5px 15px !default;


:host {
  padding-left: $item-ios-padding-left;

  color: $item-divider-ios-color;
  background-color: $item-divider-ios-background;
}
