<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Ionic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <link href="/dist/ionic-web/ionic.css" rel="stylesheet">
</head>
<body>

  <ion-app>

<!-- main start -->

<ion-menu [content]="content" side="left" persistent="true" (ionDrag)="onDrag($event)" (ionOpen)="onOpen($event)" (ionClose)="onClose($event)">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Left Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>

      <ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </ion-item>

      <ion-item (click)="openRightMenu()">
        Open Right Menu
      </ion-item>

      <ion-item menuClose="left" class="e2eCloseLeftMenu" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="left" detail-none>
        Close Menu
      </ion-item>

    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="secondary">
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-menu>


<ion-menu [content]="content" side="right">

  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Right Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>

      <ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </ion-item>

      <ion-item (click)="openLeftMenu()">
        Open Left Menu
      </ion-item>

      <ion-item menuClose="right" class="e2eCloseRightMenu" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

      <ion-item menuClose="right" detail-none>
        Close Menu
      </ion-item>

    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>

<div [hidden]="isChangeDetecting()"></div>


<!-- main end -->

  </ion-app>

  <script src="/dist/ionic-web/ionic.js" data-static-dir="/dist/ionic-web/"></script>

</body>
</html>