<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Ionic</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <script src="/dist/ionic-web/ionic.js"></script>
</head>
<body>

  <ion-app>

<!-- main start -->

<ion-header>

  <ion-toolbar>
    <ion-title>Img Cards</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-card *ngFor="let item of items">
    <ion-card-header>
      Item {{ item }}
    </ion-card-header>

    <ion-item *ngIf="item % 2 == 0">
      <ion-img width="68px" height="50px" slot="item-left" src="../img/ghostbusters.jpg"></ion-img>
      <h2>Item thumbnail right</h2>
      <h3>ion-img left</h3>
      <ion-thumbnail slot="item-right">
        <ion-img src="../img/bandit.jpg"></ion-img>
      </ion-thumbnail>
    </ion-item>

    <ion-item *ngIf="item % 2 == 1">
      <ion-avatar slot="item-left">
        <ion-img src="../img/blues-brothers.jpg"></ion-img>
      </ion-avatar>
      <h2>Item avatar left</h2>
      <h3>ion-img right</h3>
      <p>Isn't it beautiful.</p>
      <ion-img width="68px" height="50px" slot="item-right" src="../img/ghostbusters.jpg"></ion-img>
    </ion-item>

  </ion-card>

</ion-content>

<!-- main end -->

  </ion-app>

</body>
</html>