@import 'stylus-importee'
@import 'css-importee.css'
@import '~normalize.css/normalize.css';

.stylus-entry
  color: $stylus-entry-color
  font-weight: bold

.stylus-entry::after
  content: ': from stylus-entry.style'
