@import "../../themes/ionic.globals";


// Header - Light DOM
// --------------------------------------------------

ion-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-toolbar;
  display: block;

  width: 100%;
}
