
:host {
  display: block;
  background-color: rgb(128, 128, 128);
}

div {
  font-size: 18px;
}

p {
  color: rgb(0, 128, 0);
}

.scoped-class {
  color: rgb(255, 255, 0);
}

.i-am-an-unused-selecor {
  color: rgb(255, 0, 0);
}
