@import "../../themes/ionic.globals";


// List Header
// --------------------------------------------------

:host {
  display: flex;
  overflow: hidden;

  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 4rem;
}
