#dev-server-modal * {
  box-sizing: border-box !important;
}

#dev-server-modal {
  direction: ltr !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 100000;
  margin: 0 !important;
  padding: 0 !important;
  font-family: -apple-system, 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  word-wrap: break-word;
  color: #333 !important;
  background-color: white !important;
  box-sizing: border-box !important;
  overflow: hidden;
  user-select: auto;
}

#dev-server-modal-inner {
  position: relative !important;
  padding: 0 0 30px 0 !important;
  width: 100% !important;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.dev-server-diagnostic {
  margin: 20px !important;
  border: 1px solid #ddd !important;
  border-radius: 3px !important;
}

.dev-server-diagnostic-masthead {
  padding: 8px 12px 12px 12px !important;
}

.dev-server-diagnostic-title {
  margin: 0 !important;
  font-weight: bold !important;
  color: #222 !important;
}

.dev-server-diagnostic-message {
  margin-top: 4px !important;
  color: #555 !important;
}

.dev-server-diagnostic-file {
  position: relative !important;
  border-top: 1px solid #ddd !important;
}

.dev-server-diagnostic-file-header {
  display: block !important;
  padding: 5px 10px !important;
  color: #555 !important;
  border-bottom: 1px solid #ddd !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
  background-color: #f9f9f9 !important;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
  font-size: 12px !important;
}

a.dev-server-diagnostic-file-header {
  color: #0000ee !important;
  text-decoration: underline !important;
}

a.dev-server-diagnostic-file-header:hover {
  text-decoration: none !important;
  background-color: #f4f4f4 !important;
}

.dev-server-diagnostic-file-name {
  font-weight: bold !important;
}

.dev-server-diagnostic-blob {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  border-bottom-right-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.dev-server-diagnostic-table {
  margin: 0 !important;
  padding: 0 !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  border-width: 0 !important;
  border-style: none !important;
  -moz-tab-size: 2;
  tab-size: 2;
}

.dev-server-diagnostic-table td,
.dev-server-diagnostic-table th {
  padding: 0 !important;
  border-width: 0 !important;
  border-style: none !important;
}

td.dev-server-diagnostic-blob-num {
  padding-right: 10px !important;
  padding-left: 10px !important;
  width: 1% !important;
  min-width: 50px !important;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
  font-size: 12px !important;
  line-height: 20px !important;
  color: rgba(0, 0, 0, 0.3) !important;
  text-align: right !important;
  white-space: nowrap !important;
  vertical-align: top !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid #eee !important;
  border-width: 0 1px 0 0 !important;
}

td.dev-server-diagnostic-blob-num::before {
  content: attr(data-line-number) !important;
}

.dev-server-diagnostic-error-line td.dev-server-diagnostic-blob-num {
  background-color: #ffdddd !important;
  border-color: #ffc9c9 !important;
}

.dev-server-diagnostic-error-line td.dev-server-diagnostic-blob-code {
  background: rgba(255, 221, 221, 0.25) !important;
  z-index: -1;
}

.dev-server-diagnostic-open-in-editor td.dev-server-diagnostic-blob-num:hover {
  cursor: pointer;
  background-color: #ffffe3 !important;
  font-weight: bold;
}

.dev-server-diagnostic-open-in-editor.dev-server-diagnostic-error-line td.dev-server-diagnostic-blob-num:hover {
  background-color: #ffdada !important;
}

td.dev-server-diagnostic-blob-code {
  position: relative !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  line-height: 20px !important;
  vertical-align: top !important;
  overflow: visible !important;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
  font-size: 12px !important;
  color: #333 !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

td.dev-server-diagnostic-blob-code::before {
  content: '' !important;
}

.dev-server-diagnostic-error-chr {
  position: relative !important;
}

.dev-server-diagnostic-error-chr::before {
  position: absolute !important;
  z-index: -1;
  top: -3px !important;
  left: 0px !important;
  width: 8px !important;
  height: 20px !important;
  background-color: #ffdddd !important;
  content: '' !important;
}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 * https://highlightjs.org/
 */
.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}
