
/** md **/

:host {
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  margin: 80px auto;
  padding: 40px 20px;
  max-width: 320px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: #047aff;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 320px) {
  :host {
    background: maroon;
    font-family: 'Courier New', Courier, monospace;
  }
}
