* {
  box-sizing: border-box;
}

body {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.toast {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  margin: auto;
  max-width: 700px;
  border-radius: 3px;
  background: rgba(0,0,0,.9);
  -webkit-transform: translate3d(0px, -60px, 0px);
  transform: translate3d(0px, -60px, 0px);
  -webkit-transition: -webkit-transform 75ms ease-out;
  transition: transform 75ms ease-out;
  pointer-events: none;
}

.active {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.content {
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: auto;
}

.message {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 15px;
  font-size: 14px;
  color: #fff;
}

.spinner {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: rotate 600ms linear infinite;
  animation: rotate 600ms linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

svg circle {
  fill: transparent;
  stroke: white;
  stroke-width: 4px;
  stroke-dasharray: 128px;
  stroke-dashoffset: 82px;
}
