hr {
  /* this should be overriden by normalize.css to 0 */
  height: 100px;

  background-color: red;
}

.css-importee {
  color: blue;
  font-weight: bold;
}

.css-importee::after {
  content: ': from css-importee.css';
}
