* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.iframe-wrapper {
  display: inline-block;
  width: 50%;
  text-align: center;
}

iframe {
  width: 96%;
  height: 650px;
  border: 1px solid black;
}

header {
  padding-top: 18px;
  font-size: 12px;
  font-family: Courier New, Courier, monospace;
}
