* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  width: 100%;
  background: #eee;
}

select {
  margin: 4px;
}

.compare {
  margin-top: 30px;
}

.iframe-wrapper {
  display: inline-block;
  width: 50%;
  text-align: center;
}

iframe {
  width: 96%;
  height: 650px;
  border: 1px solid black;
}

.row-header {
  padding-top: 18px;
  font-size: 12px;
  font-family: Courier New, Courier, monospace;
}
