@import "../../themes/ionic.globals";


// Page
// --------------------------------------------------

ion-page {
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  width: 100%;
  height: 100%;

  contain: strict;
}

ion-page.upgraded {
  visibility: inherit;
}
