
div#relativeToRoot {
  background-image: url("/assets/favicon.ico?relativeToRoot");
}
div#relative {
  background-image: url("../assets/favicon.ico?relative");
}
div#absolute {
  background-image: url("https://www.google.com/favicon.ico");
}
