@import "variables.css";

.dark {
  --font-size: 18px;
  --background: black;
  --color: white;
  --footer-color: black;
}

.light {
  --font-size: 18px;
  --background: #eee;
  --color: black;
  --footer-color: gray;
}

header {
  background: var(--background);
  color: var(--color);
  border-bottom: 2px solid var(--color);
}

footer {
  padding: 5px;
  border-top: 5px solid var(--footer-color, red) !important;
}

main {
  background: var(--background);
  color: var(--color);
}

button {
  background: var(--color);
  color: var(--background);
}
