ion-badge {
  display: inline-block;
  visibility: inherit !important;
  padding: 3px 8px;
  min-width: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

ion-badge:empty {
  display: none;
}

.badge-wp {
  border-radius: 0;
  color: #fff;
  background-color: #327eff;
}

.badge-wp-primary {
  color: #fff;
  background-color: #327eff;
}

.badge-wp-secondary {
  color: #fff;
  background-color: #32db64;
}

.badge-wp-danger {
  color: #fff;
  background-color: #f53d3d;
}

.badge-wp-light {
  color: #000;
  background-color: #f4f4f4;
}

.badge-wp-dark {
  color: #fff;
  background-color: #222;
}