@import "../../themes/ionic.globals.md";


// Material Design Item Avatar
// --------------------------------------------------

/// @prop - Size of the avatar in the item
$item-md-avatar-size:                40px !default;


:host {
  min-width: $item-md-avatar-size;
  min-height: $item-md-avatar-size;
}

ion-img,
img {
  width: $item-md-avatar-size;
  height: $item-md-avatar-size;

  border-radius: 50%;

  overflow: hidden;
}