@import "../../themes/ionic.globals.wp";


// Windows Item Avatar
// --------------------------------------------------

/// @prop - Size of the avatar in the item
$item-wp-avatar-size:                40px !default;


:host {
  min-width: $item-wp-avatar-size;
  min-height: $item-wp-avatar-size;
}

ion-img,
img {
  overflow: hidden;

  width: $item-wp-avatar-size;
  height: $item-wp-avatar-size;

  border-radius: 50%;
}

:host([slot="item-left"]) {
  margin: ($item-wp-padding-right / 2) $item-wp-padding-right ($item-wp-padding-right / 2) 0;
}

:host([slot="item-right"]) {
  margin: ($item-wp-padding-right / 2);
}
