@import "../../themes/ionic.globals.wp";
@import "./item-divider";


// Windows Item Divider
// --------------------------------------------------

/// @prop - Color for the divider
$item-divider-wp-color:              $list-wp-text-color !default;

/// @prop - Background for the divider
$item-divider-wp-background:         #fff !default;

/// @prop - Bodrer bottom for the divider
$item-divider-wp-border-bottom:      1px solid $list-wp-border-color !default;

/// @prop - Font size for the divider
$item-divider-wp-font-size:          2rem !default;

/// @prop - Padding for the divider
$item-divider-wp-padding:            5px 15px !default;


:host {
  padding-left: $item-wp-padding-left;

  border-bottom: $item-divider-wp-border-bottom;
  font-size: $item-divider-wp-font-size;

  color: $item-divider-wp-color;
  background-color: $item-divider-wp-background;
}