@import "../../themes/ionic.globals";


:host {
  z-index: $z-index-item-divider;
  display: flex;
  overflow: hidden;

  align-items: center;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  width: 100%;

  min-height: 30px;
}

:host([sticky]) {
  position: sticky;
  top: 0;
}
