@import "../../themes/ionic.globals.md";


// Material Design Item Thumbnail
// --------------------------------------------------

/// @prop - Size of the thumbnail in the item
$item-md-thumbnail-size:             80px !default;


:host {
  min-width: $item-md-thumbnail-size;
  min-height: $item-md-thumbnail-size;
}

ion-img,
img {
  width: $item-md-thumbnail-size;
  height: $item-md-thumbnail-size;
}
