news-container.hydrated,
news-list.hydrated,
ion-card-title.hydrated,
comments-page.hydrated,
comments-list.hydrated {
  visibility: inherit
}

.nextButton {
  float: right;
}

.list-md {
  margin: 0;
}