ion-label {
  white-space: normal !important;
}

ion-toolbar ion-button.header-button button {
  color: white !important;
}

.points {
  color: #327eff;
  font-weight: bold;
  width: 45px;
}

.header-icon {
  color: white;
  font-size: 3.4rem !important;
  margin-left: 15px !important;
}

.page-number {
  line-height: 3;
}

.pager {
  text-align: center;
}

ion-footer ion-toolbar div.toolbar-background {
  background: white;
}

ion-footer {
  height: 48px;
}

ion-footer ion-toolbar {
  min-height: 48px !important;
}

.comments-text {
  color: #717883;
}

.list-header {
  color: #202939;
}

.item-content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.first-button {
  margin-left: 7px;
}

.close-button {
  float: left;
}

.comments-title {
  line-height: 2.1;
}

.header-button {
  opacity: 0.6;
  width: 7rem;
}

.header-button-selected {
  opacity: 1;
}

.header-button-selected button {
  font-weight: bold;
}

.tabs-bar {
  display: flex;
}

.no-back button {
  opacity: 0.3;
}

.yes-back button {
  opacity: 1;
  color: #327eff !important;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0; }
  50% { transform: scale(1.2); opacity: 1; }
}

.basic-loading {
  text-align: center;
}

.basic-loading > * {
  animation: pulse 1s infinite ease-in-out;
  will-change: opacity, transform;
  display: inline-block;
  padding: 64px;
}