ion-label {
  white-space: normal;
}

ion-toolbar ion-button.header-button button {
  color: white !important;
}

.points {
  color: #327eff;
  font-weight: bold;
  width: 45px;
}

.header-icon {
  color: white;
  font-size: 3.4rem;
  margin-left: 15px;
  margin-top: 5px;
  float: left;
}

.next-button {
  float: right;
}

.previous-button {
  float: left;
}

.page-number {
  line-height: 3;
}

.pager {
  text-align: center;
}

.comments-text {
  color:grey;
}

.item-content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.first-button {
  margin-left: 7px;
}

.close-button {
  float: left;
}

.comments-title {
  line-height: 2.1;
}