ion-label {
  white-space: normal;
}

ion-toolbar ion-button.header-button button {
  color: white !important;
}

.points {
  color: #327eff;
  font-weight: bold;
  width: 45px;
}

.header-icon {
  color: white;
  font-size: 3.4rem !important;
  margin-left: 15px !important;
}

.page-number {
  line-height: 3;
}

.pager {
  text-align: center;
}

ion-footer ion-toolbar div.toolbar-background {
  background: white;
}

ion-footer {
  height: 48px;
}

ion-footer ion-toolbar {
  min-height: 48px !important;
}

.comments-text {
  color: #7f858f;
}

.list-header {
  color: #354154;
}

.item-content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.first-button {
  margin-left: 7px;
}

.close-button {
  float: left;
}

.comments-title {
  line-height: 2.1;
}

.disabled-nav button {
  color: lightgrey;
}

.header-button {
  opacity: 0.6;
}

.header-button-selected {
  opacity: 1;
}