ion-label {
  white-space: normal;
}

ion-toolbar ion-button.headerButton button {
  color: white !important;
}

.points {
  color: #327eff;
  font-weight: bold;
  width: 45px;
}

.header-icon {
  color: white;
  font-size: 3.4rem;
  margin-left: 15px;
  margin-top: 5px;
}

.button-bar {
  float: right;
   width: 35.5rem;
}

.nextButton {
  float: right;
}

.previousButton {
  float: left;
}

.page-number {
  line-height: 3;
}

.pager {
  text-align: center;
}

.comments-text {
  color: grey;
}

.item-content {
  padding-top: 5px;
  padding-bottom: 5px;
}