
:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: white;
}

header {
  height: 40px;
}

section {
  height: calc(100% - 40px);
}

.add-input {
  cursor: pointer;

}