name: WebdriverIO Tests

on:
  merge_group:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  build_core:
    name: Build
    uses: ./.github/workflows/build.yml

  run_wdio:
    name: Run WebdriverIO Component Tests
    runs-on: ubuntu-22.04
    needs: [build_core]

    steps:
      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Use Node Version from Volta
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          # pull the version to use from the volta key in package.json
          node-version-file: './test/wdio/package.json'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Download Build Archive
        uses: ./.github/workflows/actions/download-archive
        with:
          name: stencil-core
          path: .
          filename: stencil-core-build.zip

      - name: Run WebdriverIO Component Tests
        run: npm run test.wdio

      - name: Check Git Context
        uses: ./.github/workflows/actions/check-git-context
