name: Unit Tests

on:
  workflow_call:
    # Make this a reusable workflow, no value needed
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows
    inputs:
      build_name:
        description: Name for the build, used to resolve the correct build artifact
        required: true
        type: string

jobs:
  unit_test:
    name: (${{ matrix.os }}.${{ matrix.node }})
    strategy:
      fail-fast: false
      matrix:
        node: ['16', '18', '20']
        os: ['ubuntu-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Get Core Dependencies
        uses: ./.github/workflows/actions/get-core-dependencies

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 # v4.0.0
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Download Build Archive
        uses: ./.github/workflows/actions/download-archive
        with:
          name: ${{ inputs.build_name }}
          path: .
          filename: stencil-core-build.zip

      - name: What's In This Dir?
        run: ls -hal
        shell: bash

      - name: Unit Tests
        run: |
          for i in {1..100}
          do
            echo "This is run number $i"
            npm run test.jest
          done
        shell: bash

      - name: Check Git Context
        uses: ./.github/workflows/actions/check-git-context
