name: Analysis Tests

on:
  workflow_call:
    # Make this a reusable workflow, no value needed
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows

jobs:
  analysis_test:
    name: (${{ matrix.os }}.${{ matrix.node }})
    strategy:
      fail-fast: false
      matrix:
        node: ['16', '18', '20']
        os: ['ubuntu-20.04', 'windows-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Get Core Dependencies
        uses: ./.github/workflows/actions/get-core-dependencies

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Download Build Archive
        uses: ./.github/workflows/actions/download-archive
        with:
          name: stencil-core
          path: .
          filename: stencil-core-build.zip

      - name: Analysis Tests
        run: npm run test.analysis
        shell: bash

      - name: Check Git Context
        uses: ./.github/workflows/actions/check-git-context
